@{
    ViewData["Title"] = "Role List";
}

@model List<AdminModel.RoleViewModel>

<div class="row">
    <div class="col-md-6 offset-md-3">

        @if (TempData["SucceedMessage"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["SucceedMessage"]
            </div>
        }
        <h1 class="text-center">Role List</h1>
        <hr />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Role Name</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>
                            <div class="row">
                                <div class="container">
                                    <a class="btn btn-warning btn-sm" asp-area="Admin" asp-controller="Roles" asp-action="RoleUpdate" asp-route-Id="@item.Id">Edit</a>
                                    <a class="btn btn-danger btn-sm" asp-area="Admin" asp-controller="Roles" asp-action="RoleDelete" asp-route-Id="@item.Id">Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <th><a class="btn btn-success float-end btn-sm" style="margin-right:30px" asp-area="Admin" asp-controller="Roles" asp-action="RoleCreate">Add New Role</a></th>
    </div>
</div>